inst/doc

# Package files
*.tar.gz
*.pdf
*.Rcheck

# R file
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rprofile

# Mac
.DS_Store

# Tags
*tags

# Logs
*.log
logs/
benchmark

# Open cached files
*.m~
*.*swp
*.*swo
~$*.*pptx

# Compiled sources
*.com
*.class
*.dll
*.exe
*.o
*.so
